@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap");


.Weather {
  max-width: 500px;
border: 4px dotted red;
display: flex;
padding-bottom: 20px;
border-radius: 20px;
background-color: rgba(128, 128, 128, 0.473);
align-items: center;
justify-content: center;
flex-direction: column;
  font-family: "Outfit", sans-serif;
  /* margin-right: 15%; */
  margin-left: 30%;
  line-height: 2;
  margin-top: 17%;
}
.Weather h1 {
  color: blue;
  font-size: 30px;
  text-shadow: 1px 4px rgb(0, 0, 0);
}
.Weather form input {
  display: block;
  text-decoration: none;
  
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 5px 2px;
  background-color: rgba(128, 128, 128, 0.356);
  color: black;
  margin-bottom: 20px;
  border-bottom: 2px solid black;

}
input::placeholder {
  color: rgb(11, 11, 11); /* change this to any color you want */
}
.Weather form button {
    cursor: pointer;
  width: 90px;
  background-color: rgb(27, 176, 230);
  border: 0;
  outline: 0;
  padding: 10px 10px;
  border-radius: 20px;
  margin-left: 20px;
}
.getWeather:hover{
    background-color: black;
   color: rgb(27, 176, 230);
}
