* {
  margin: 0;
  padding: 0;
  /* background-color:  rgb(149, 149, 229); */
  /* text-align: center; */
  
}

body{
  background: url(./assets/weather.jpg);
    background-size: auto;
  background-position: right;

}